In [20]:
#Importing pandas for dataframe
import pandas as pd

In [21]:
#Importing the loan tape file. Clean data prior to input. Make sure to take out the zero values in relevant columns.
df = pd.read_csv(r'C:\Users\MADYMA\Desktop\Tale of the Tape\COLT 2021-6 Investor Tape.csv')

#Removing column truncation and 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [22]:
#Sanity check
df.head()

,% Loan Amount,Liquid Reserve,Total Income,DTI,Loan Purpose,Length of Employment,FICO,Original CLTV (%),IO Term
0,0.0021,36357.0,13994.0,0.46,Purchase,1.0,708.0,0.90,NaN
1,0.0041,10699.0,34248.0,0.30,Purchase,1.0,715.0,0.90,NaN
2,0.0013,94991.0,10212.0,0.43,Purchase,1.0,765.0,0.90,NaN
3,0.0022,469429.0,36343.0,0.43,Purchase,1.0,769.0,0.75,NaN
4,0.0003,41608.0,6295.0,0.33,Cash-Out Refinance,1.0,772.0,0.75,NaN

In [23]:
#Creating CLTV Buckets
bins = [0.20000000001, 0.30, 0.30000000001, 0.40, 0.40000000001, 0.50, 0.50000000001, 0.60, 0.60000000001, 0.70, 0.70000000001, 0.80, 0.80000000001, 0.90, 0.90000000001, 1.00]
df['LTV Buckets'] = pd.cut(df['Original CLTV (%)'], bins)

#Sorting the values by CLTV and resetting the index. Drop will prevent the dataframe from keeping the old index.
LTV_final_df = df.sort_values(by='Original CLTV (%)', ascending=True).reset_index(drop=True)
LTV_final_df.head()

,% Loan Amount,Liquid Reserve,Total Income,DTI,Loan Purpose,Length of Employment,FICO,Original CLTV (%),IO Term,LTV Buckets
0,0.0010,381766.0,6363.0,0.49,Cash-Out Refinance,NaN,803.0,0.24,NaN,"(0.20000000001, 0.3]"
1,0.0010,647605.0,140939.0,0.13,Purchase,34.0,733.0,0.25,NaN,"(0.20000000001, 0.3]"
2,0.0005,52339.0,6592.0,0.47,Rate/Term Refinance,10.0,613.0,0.28,NaN,"(0.20000000001, 0.3]"
3,0.0040,17121.0,39693.0,0.32,Cash-Out Refinance,19.0,653.0,0.31,NaN,"(0.30000000001, 0.4]"
4,0.0008,21299.0,NaN,NaN,Cash-Out Refinance,4.0,743.0,0.35,NaN,"(0.30000000001, 0.4]"

In [24]:
#Grouping columns by loan purpose and aggregating different values
loan_purpose_df = LTV_final_df.groupby('Loan Purpose').agg({'% Loan Amount':'sum', 'DTI':'mean', 'Total Income':'mean', 'Liquid Reserve':'mean', 'Original CLTV (%)':'mean', 'FICO':'mean', 
'Length of Employment':'mean', 'IO Term':'count'})
loan_purpose_df

,% Loan Amount,DTI,Total Income,Liquid Reserve,Original CLTV (%),FICO,Length of Employment,IO Term
Loan Purpose,,,,,,,,
Cash-Out Refinance,0.3161,0.348723,23179.446809,220927.584615,0.653163,739.275132,14.933333,45
Purchase,0.5756,0.313727,43282.273292,362688.677291,0.757063,741.114173,9.291391,49
Rate/Term Refinance,0.1088,0.366250,27143.424242,219066.476190,0.653065,735.590164,12.500000,7

In [25]:
#Printing both data frames to an excel workbook
with pd.ExcelWriter(r'C:\Users\MADYMA\Desktop\Tale of the Tape\COLT 2021-6UPDATED.xlsx') as writer: 
    LTV_final_df.to_excel(writer, sheet_name='LTV')
    loan_purpose_df.to_excel(writer, sheet_name='Purpose')

In [26]:
#Check to see if a column exists in case an error kicks
#if 'Liquid Reserve' in df.columns:
    #print("Yes")
#else:
    #print("No")

In [27]:
#If you want to print a single workbook and do not want the index to come in use this
#LTV_final_df.to_excel(r'C:\Users\MADYMA\Desktop\Tale of the Tape\AOMT 2021-8 LTV.xlsx', index=False)